*.key
componentVersions
port
tasks

/options/gemmanager.xml

/options/jdk.table.xml

/options/appComponentVersions.xml

/options/applicationLibraries.xml

/options/cocoapods.xml

/options/feature.usage.statistics.xml

/options/usage.statistics.xml

/options/statistics.application.usages.xml

/options/other.xml
